<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Basic INFO</h1>

    </header>
    <main>
        <form action="/add" method="POST">
            <label for="">Name<input type="text" name="formName"></label>
            <label for="">Age<input type="number" name="formAge"></label>
            <button type="submit">ADD</button>
        </form>
    </main>
    <footer>
        <p>@test2020</p>
    </footer>

</body>

</html>