<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Basic INFO</h1>

    </header>
    <main>  
        <form action="/add">
            <button type="submit">ADD Person</button>
        </form>    
        <ul>
            <%people.forEach(person=> {%>
                <li><%=person.name%></li>
                <li><%=person.age%></li>
            <%})%>
        </ul>
    </main>
    <footer>
        <p>@test2020</p>
    </footer>
    
</body>
</html>